body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    margin: 0;
}

header {
    grid-column: 1 / 3;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

aside {
    grid-row: 2;
    background-color: #1f1a1a;
    padding: 1em;
}

main {
    grid-row: 2;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.caixa-lateral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 40px;
    background-color: darkseagreen;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 235px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.caixa-main {
    position: relative;
    width: 350px;
    height: 485px;
    background-color: rebeccapurple;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 2;
    padding: 10px;
}

.overlay-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.overlay-text {
    font-size: 1em;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-main:hover .overlay {
    opacity: 1;
}

.imagem-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
